body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Add your existing styles for .p-3, .p-md-5, .m-md-3, .text-center, .bg-body-tertiary, etc. */

.container {
    max-width: 1200px;
}

/* Remove background image */
.bg-body-tertiary {
    background-image: none;
}

/* Style the image to be responsive and have a maximum height */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Add more styles as needed */



.display-3{
    display: flex;
    color: gold;
    text-align: center;
    font-style: oblique;
}


h3{
    text-align: center;
    color: darkgoldenrod;
}